<h1>Nuevo Artículo</h1>

<%= form_with scope: :articulo, url: articulos_path, local: true do |form| %>
    <p>
        <%= form.label :Titulo %><br>
        <%= form.text_field :title %><br>
    </p>

    <p>
        <%= form.label :Texto %><br>
        <%= form.text_area :text %><br>
    </p>

    <p>
        <%= form.submit 'Guardar' %><br>
    </p>
    <% end %><br>
</form>